{% extends "user/extend.html" %}
{% block 'title' %} Login Page {% endblock %}
{% load static %}
{% block 'content' %}


<!-- <style>
    body {
        background: url("{% static 'images/login_background.webp' %}") no-repeat center;
        background-size: cover;
    }
</style> -->
<div class="container-fluid mt-5 p-5" style='background: url("{% static 'images/login_background.webp' %}") no-repeat center center; background-size: cover;'>
<div class="container w-50 h-50  my-5 p-5 border rounded bg-light">
    <form action="{% url 'signin' %}" method="POST">
        {% csrf_token %}

  
            <h1 class="text-center mt-4 mb-5">Login Form</h1>
        
            <div class="container d-flex flex-column w-75 p-1">
                <label for="">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="container d-flex flex-column w-75 p-1">
                <label for="">Password</label>
                <input type="text" name="password" id="password">
            </div>
            {% for i in messages %}
            <p>{{i}}</p>
            {% endfor %}
            <div class="container text-center">
                <a href="">
                    <button class="p-1 m-3 bg-dark text-light w-25 border-0">
                    Login
                    </button>
                </a>
            </div>
             </form>
            <div class="container text-center ">
                <p> Don't have an account? </p>
                <a href="{% url 'signup' %}">
                    <button class="p-1 m-3 bg-dark text-light w-25 border-0">
                        Sign Up
                    </button>
                </a>
            </div>
            
       
        </div>
 </div>
{% endblock %}